{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
	<div class="container">
		<div class="alert alert-danger" role="alert">
		  TU N'AS PAS LE DROIT !!!
		</div>

		<img src="{{ asset('oups.gif')}}">
	</div>
{% endblock %}
